*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.board-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.board-cell:first-child,
.board-cell:nth-child(2),
.board-cell:nth-child(3) {
  border-top: none;
}

.board-cell:nth-child(3n + 1) {
  border-left: none;
}

.board-cell:nth-child(3n + 3) {
  border-right: none;
}

.board-cell:last-child,
.board-cell:nth-child(8),
.board-cell:nth-child(7) {
  border-bottom: none;
}

.board-cell.x,
.board-cell.circle {
  cursor: not-allowed;
}

.board-cell.x::before,
.board-cell.x::after {
  background-color: rgb(219, 30, 30);
}

.board.x .board-cell:not(.x):not(.circle):hover::before,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  background-color: rgba(219, 30, 30, 0.5);
}

.board-cell.x::before,
.board-cell.x::after,
.board.x .board-cell:not(.x):not(.circle):hover::before,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.board-cell.x::before,
.board.x .board-cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.board-cell.x::after,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.board-cell.circle::before,
.board-cell.circle::after {
  background-color: rgb(30, 33, 219);
}

.board.circle .board-cell:not(.x):not(.circle):hover::before,
.board.circle .board-cell:not(.x):not(.circle):hover::after {
  background-color: rgba(30, 33, 219, 0.5);
}

.board-cell.circle::before,
.board-cell.circle::after,
.board.circle .board-cell:not(.x):not(.circle):hover::before,
.board.circle .board-cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
}

.board-cell.circle::before,
.board.circle .board-cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.board-cell.circle::after,
.board.circle .board-cell:not(.x):not(.circle):hover::after {
  height: calc(var(--mark-size) * 0.7);
  width: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-msg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winning-msg button {
  font-size: 2.5rem;
  background-color: white;
  border: 1px solid black;
  padding: 7px 10px;
  cursor: pointer;
}

.winning-msg button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.winning-msg.show {
  display: flex;
}
